.update_project_details_form {
  width: 80%;
  height: 60vh;
  background-color: #fff;
  border-radius: 24px;
}

@media only screen and (max-width: 670px) {
  .update_project_details_form {
    width: 80%;
    height: 67vh;
    background-color: #fff;
    border-radius: 24px;
  }
}
