.login_wrapper{
        width: 90%;
    }
.login_left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid #000; */
   
}
.login_right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     /* border: 1px solid #000; */
}
.login_card{
     box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35);
}
.login_card_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px
}

@media only screen and (max-width: 600px) {
    .login_left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 340px;
    /* border: 1px solid #000; */
   
}
}
@media only screen and (max-width: 450px) {
    .login_left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    /* border: 1px solid #000; */
   
}
}
