/* App */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

.log_in_bg {
    background-color: #ebf5ff;
    /* padding-top: 100px;
    padding-bottom: 100px; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* starting css */

.container-cs {
    width: 95vw !important;
    margin: 0 auto;
}
/* Start of Dashboard Left*/
.dashboard-left {
    height: 100vh;
}
.dashboard-left-nav {
    height: 70vh;
}
.dashboard-left-nav .nav-item {
    padding: 0 5px;
}
.dashboard-left-nav .nav-item:hover .icon {
    color: #00db99;
}
.dashboard-left-nav .nav-item:hover .left-nav-link {
    color: #00db99;
}
.dashboard-left-nav .nav-item .icon {
    color: #717986;
    transition: all linear 0.3s;
}
.left-nav-link {
    display: inline-block !important;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #717986;
    transition: all linear 0.3s;
}
.dashboard-left-logout {
    padding: 15px 0px;
    border: 1px solid #f2f2f2;
}
.dashboard-left-logout a {
    cursor: pointer;
}
.dashboard-left-logout i {
    margin: 0 10px;
    color: #ff285c;
}
.dashboard-left-logout span {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    color: #ff285c;
}

/* Start of Dashboard Right */
.dashboard-right-header {
    padding: 15px;
}
.dashboard-right-heading h2 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #3c557a;
}

.dashboard-right-tools .tools-icon i {
    font-size: 20px;
    color: #717986;
}
.dashboard-right-profile img {
    border-radius: 50%;
}
.dashboard-right-profile h3 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #25364f;
}
.dashboard-right-profile p {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #8b8b8b;
}

.dashboard-right-header .row .new-project-button {
    padding: 10px 15px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    background: #00db99;
    border-radius: 26px;
}
.dashboard-right-header .project-sorting-tab {
    border: 1px solid #f1f2f7;
    border-radius: 8px;
    padding: 5px 0;
    height: 40px;
}
.dashboard-right-header .project-sorting-tab .nav-item .nav-link {
    color: #8b8b8b;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    border: none !important;
    margin: 0 5px !important;
}
.project-sorting-tab .nav-tabs .nav-link:hover {
    border: none !important;
}
.project-sorting-tab .nav-tabs {
    border: none;
}
.project-sorting-tab .nav-tabs .nav-link.active {
    position: relative;
    color: #25364f;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
}
.project-sorting-tab .nav-tabs .nav-link.active::after {
    position: absolute;
    content: "";
    top: 0;
    left: 25px;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #3c557a;
}

.project-sorting-button span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #8b8b8b;
}
.project-sorting-button i {
    color: #8b8b8b;
}

/* Start of Dashboard Right Project Card */

.card-body {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    position: relative;
    padding: 15px;
    transition: all linear 0.3s;
}
.card-body:hover {
    box-shadow: 0px 3px 36px 12px #507ea91f;
}
.card-heading-left h6 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #3c557a;
}

.card-status::after {
    position: relative;
    content: "";
    bottom: 3px;
    right: 50px;
    height: 6px;
    width: 6px;
    display: inline-block;
    border-radius: 50%;
    background-color: #00db99;
}
.card-status span {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #00db99;
}
.card-more-button i {
    color: #8b8b8b;
    font-size: 18px;
}
.card-date-common {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0em;
    text-align: left;
    color: #717986;
}
.card-date-heading {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
.card-date-date {
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
}
.card-date-right {
    margin: -10px 10px 0 0;
    padding: 15px 0;
    background: #f9f9f9;
    border-radius: 7px;
    position: relative;
}
.card-date-right::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 1px;
    background: #cddcee;
}
.card-date-right .task,
.card-date-right .user {
    width: 50%;
}
.card-date-right .task p:first-child,
.card-date-right .user p:first-child {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    color: #3c557a;
}
.card-date-right .task p:last-child,
.card-date-right .user p:last-child {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #717986;
}

.card-member p {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #717986;
}
.member-profiles img {
    border-radius: 50%;
    margin-top: -10px;
}
.add-member-button {
    display: inline-block;
}
.add-member-button i {
    color: #8b8b8b;
    font-size: 30px;
}
.card-progress .progress {
    height: 5px;
}
.progress-bar-text {
    display: inline-block;
    width: 50%;
}
/* Start of User Management Page */
.user-management-heading-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #191d23;
    margin: -5px 0 0 0;
}

.user-management-heading-button-group a:first-child {
    background: #047857;
    border-radius: 4px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
}
.user-management-heading-button-group a:first-child:hover {
    color: #fff;
}
.user-management-heading-button-group a:last-child {
    color: #191d23;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 4px;
    padding: 8px 12px;
    border: 1.5px solid #d0d5dd;
}

.user-management-search {
    background: hsl(210, 14%, 97%);
    padding: 12px 0;
    border-radius: 4px;
}

.user-management-search-box {
    border-radius: 8px;
    border: 1px solid #e7eaee;
    background: #fff;
    padding: 2px 10px;
    margin-left: 12px;
    width: 40%;
    display: inline-block;
}
.user-management-search-box i {
    color: #8b8b8b;
}
.user-management-search-box input::placeholder {
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #64748b;
}
.user-management-search-box input {
    background: transparent;
    border: none !important;
    display: inline-block !important;
    width: 85%;
}
.user-management-search-box input:focus {
    background: transparent;
    border: none !important;
    box-shadow: none !important;
}
.user-management-search-filter {
    display: inline-block;
    width: 58%;
    text-align: right;
}
.user-management-search-filter a {
    background: #ffffff;
    padding: 8px 16px;
    border-radius: 4px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #64748b !important;
}

.table-header-title {
    font-family: "Manrope", sans-serif;

    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #64748b;
}
.table-data {
    font-family: "Manrope", sans-serif;

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #191d23;
}
.role-column-data .MuiDataGrid-cellContent {
    padding: 2px 10px;
    background: #ecfdf5;
    font-family: Manrope;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #064e3b;
    border-radius: 4px;
}
/* Add User Modal Style */
/* .add_user_form{
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 24px;
} */
.add_user_main {
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    position: relative;
    padding: 50px;
    box-shadow: 0px 3px 36px 12px #507ea91f;
}
.add_user_main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/blob\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 50%;
    border-radius: 15px 0 0 0;
}
.options {
    color: #000;
}
.add-user-title {
    font-family: "Nunito", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    z-index: 999;
}
.add-user-paragraph {
    font-family: "Nunito", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    margin: 100px 0 0 0;
}
.add-user-form-input
    .css-n8py6z-MuiFormControl-root-MuiTextField-root:nth-child(1),
.add-user-form-input
    .css-n8py6z-MuiFormControl-root-MuiTextField-root:nth-child(2) {
    width: 50%;
    display: inline-block;
}
.add-user-form-input
    .css-1qi90xi-MuiInputBase-root-MuiOutlinedInput-root:nth-child(1) {
    width: 90%;
    margin-right: auto !important;
}
@media only screen and (max-width: 1880px) {
    .add_user_main {
        width: 100%;
        height: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 380px) {
    .add_user_main {
        width: 100%;
        height: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/* rafi: addProjectUser */
.add_project_user_form {
    width: 80%;
    height: 80vh;
    background-color: #fff;
    border-radius: 24px;
}

@media only screen and (max-width: 1880px) {
    .project_user {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .add_project_user_form {
        width: 80%;
        height: 700px;
        background-color: #fff;
        border-radius: 24px;
    }
}

@media only screen and (max-width: 890px) {
    .project_user {
        padding-top: 300px;
        padding-bottom: 150px;
    }
    .add_project_user_form {
        width: 80%;
        height: 830px;
        background-color: #fff;
        border-radius: 24px;
    }
}

@media only screen and (max-width: 530px) {
    .project_user {
        padding-top: 400px;
        padding-bottom: 200px;
    }
    .add_project_user_form {
        width: 80%;
        height: 890px;
        background-color: #fff;
        border-radius: 24px;
    }
}

@media only screen and (max-width: 380px) {
    .project_user {
        padding-top: 530px;
        padding-bottom: 550px;
    }
    .add_project_user_form {
        width: 80%;
        height: 940px;
        background-color: #fff;
        border-radius: 24px;
    }
}

@media only screen and (max-width: 280px) {
    .add_project_user_form {
        width: 80%;
        height: 150vh;
        background-color: #fff;
        border-radius: 24px;
    }
}

/* rafi: login */
.login_wrapper {
    width: 90%;
}
.login_left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid #000; */
}
.login_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid #000; */
}
.login_card {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35);
}
.login_card_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .login_left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 340px;
        /* border: 1px solid #000; */
    }
}
@media only screen and (max-width: 450px) {
    .login_left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 200px;
        /* border: 1px solid #000; */
    }
}

/* rafi: update information */
.update_information_form {
    width: 80%;
    height: 75vh;
    background-color: #fff;
    border-radius: 24px;
}

@media only screen and (max-width: 900px) {
    .update_info_main {
        /* padding-top: 200px; */
        padding-bottom: 200px;
    }
    .update_information_form {
        margin-top: 350px;
        width: 80%;
        height: 850px;
        background-color: #fff;
        border-radius: 24px;
    }
}
/* rafi: update project details */
.update_project_details_form {
    width: 80%;
    height: 60vh;
    background-color: #fff;
    border-radius: 24px;
}

@media only screen and (max-width: 1880px) {
    .update_project_details_form {
        width: 80%;
        height: 75vh;
        background-color: #fff;
        border-radius: 24px;
    }
}

@media only screen and (max-width: 670px) {
    .update_project_details_form {
        width: 80%;
        height: 82vh;
        background-color: #fff;
        border-radius: 24px;
    }
}
@media only screen and (max-width: 470px) {
    .update_project_details_form {
        width: 80%;
        height: 90vh;
        background-color: #fff;
        border-radius: 24px;
    }
}
