*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}


.log_in_bg {
  background-color: #EBF5FF;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
